* {
    margin: 0;
    padding: 0;

    font-family: "Verdana";
    text-decoration: none;

    --primary: #00D400;
    --secondary: #21a0e4;
    --panel-background: rgba(0, 0, 0, 0.5);
    --page-background: rgba(0, 0, 0, 0.25);
    --sidebar-background: #222;
}

body {
    height: 100vh;

    background-color: #00D99C;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;

    opacity: 1;

    animation-name: transform-slide-in-x;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.main {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.sidebar-reserve {
    flex: 2;
}
.sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;
    height: 100%;
    min-width: 20%;
    max-width: 20%;

    padding-top: 20px;

    gap: 20px;

    background-color: var(--sidebar-background);
}
.content {
    flex: 8;

    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 2rem;
    flex-grow: 1;

    color: white;
    background-color: var(--page-background);
    padding: 40px;
}

.page-item {
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: white;
    background-color: var(--page-background);
    
    background-image: url("../images/trim-bottom.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size:contain;
    padding-top: 65px;
    padding-bottom: 10px;
}
.footer-item {
    display: flex; 
    flex-direction: row; 
    
    justify-content: center; 
    align-items: center; 
    gap: 0.5rem;

    margin: 0px 20px;
}

.logo {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    align-self: center;

    transition: filter 0.25s;
}
.logo:hover {
    filter: drop-shadow(0px 0px 5px lime);
}
.logo img {
    max-width: 3rem;
}
.slogan-item {
    color: white;

    font-size: 0.75rem;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}
.sidebar-menu-title {
    display: flex;
    flex-direction: row;

    padding-left: 10px;

    color: white;
}
.sidebar-menu-divider {
    height: 0px;

    border-top: 1px solid rgb(12, 12, 12);
    border-bottom: 1px solid rgb(63, 63, 63);

    margin: 5px 10px;
}
.sidebar-menu-item {
    display: flex;
    flex-direction: row;

    gap: 10px;

    padding: 10px;

    color: white;

    transition: background-color 0.25s;
}
.sidebar-menu-item.selected {
    background-color: var(--primary);
}
.sidebar-menu-item:hover {
    background-color: var(--primary);
}

.text-big {
    font-size: 5rem;
    font-weight: 600;
}
.text-medium {
    font-size: 3rem;
}
.text-small {
    font-size: 1.5rem;
}
.text-center {
    text-align: center;
}
.text-blend {
    color: grey;
    mix-blend-mode: difference;
}

.nice-button {
    color: white;
    background-color: var(--primary);

    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--primary);

    transition: background-color 0.25s, border 0.25s;
}
.nice-button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.gallery {
    display: flex;
    flex-direction: row;

    gap: 10px;
    padding: 10px;
}
.gallery-item {
    padding: 5px;
    background-color: var(--panel-background);
}
.gallery-item img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

/* KEYFRAMES */
@keyframes opacity-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes transform-slide-in-x {
    0% {
        transform: translateX(-100%);
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .sidebar {
        position: unset;
        max-width: 100%;
    }
    .sidebar-reserve {
        position: fixed;
    }
}