* {
    margin: 0;
    padding: 0;

    font-family: "Verdana";
    text-decoration: none;

    --primary: #00D400;
    --primary-2: #00ab00;
    --secondary: #21a0e4;
    --secondary-2: #1a80b6;
    --panel-background: rgba(0, 0, 0, 0.5);
    --page-background: rgba(0, 0, 0, 0.25);
    --sidebar-background: #222;
    --sidebar-secondary: #363636;
    --sidebar-secondary-2: #4c4c4c;

    --sidebar-c-1: rgb(12, 12, 12);
    --sidebar-c-2: rgb(63, 63, 63);
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background-color: var(--sidebar-background);
}

.main {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
}

.sidebar-reserve {
    flex: 2;
}
.sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;
    height: 100%;
    min-width: 20%;
    max-width: 20%;

    padding-top: 20px;

    gap: 20px;

    background-color: var(--sidebar-background);

    z-index: 1;
}
.content {
    flex: 8;

    display: flex;
    flex-direction: column;

    background-image: linear-gradient(var(--page-background), var(--page-background)), url("../images/background-generic.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

.page {
    display: flex;
    flex-direction: column;

    align-self: stretch;

    justify-content: center;
    align-items: center;

    gap: 2rem;
    flex-grow: 1;

    z-index: 0;

    color: white;

    animation-name: transform-slide-in-x;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.page-controls {
    display: flex;
    flex-direction: row;
    
    padding: 10px;
    gap: 10px;

    justify-content: center;
}

.page-item {
    display: flex;
    flex-direction: column;

    max-width: 80%;
}
.page-item form {
    min-width: 400px;
    max-width: 400px;
}
.footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: white;

    z-index: 1;
    
    background-image: url("../images/trim-2.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size:contain;
    padding-top: 45px;
    padding-bottom: 10px;
}
.footer-item {
    display: flex; 
    flex-direction: row; 
    
    justify-content: center; 
    align-items: center; 
    gap: 0.5rem;

    margin: 0px 20px;
}

.logo {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    align-self: center;

    transition: filter 0.25s;
}
.logo:hover {
    filter: drop-shadow(0px 0px 5px var(--primary));
}
.logo img {
    max-width: 3rem;
}
.slogan-item {
    color: white;

    font-size: 0.75rem;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;

    gap: 4px;
}
.sidebar-menu-title {
    display: flex;
    flex-direction: row;

    padding-left: 10px;

    color: white;
}
.sidebar-menu-divider {
    height: 0px;

    border-top: 1px solid var(--sidebar-c-1);
    border-bottom: 1px solid var(--sidebar-c-2);

    margin: 5px 10px;
}
.sidebar-menu-item {
    display: flex;
    flex-direction: row;

    gap: 10px;

    padding: 10px;

    color: white;
    border: 1px solid rgba(0, 0, 0, 0);

    margin: 5px 5px;

    transition: border 0.25s, outline 0.25s, background-color 0.25s;
}
.sidebar-menu-item.selected {
    background-color: var(--primary-2);
    border-left: 4px solid var(--primary);
}
.sidebar-menu-item.selected:hover {
    background-color: var(--primary);
    border-left: 4px solid var(--primary);
}
.sidebar-menu-item:hover {
    background-color: var(--sidebar-secondary);
    border: 1px solid var(--sidebar-secondary-2);
}

.text-big {
    font-size: 5rem;
    font-weight: 600;
}
.text-medium {
    font-size: 3rem;
}
.text-small {
    font-size: 1.5rem;
}
.text-center {
    text-align: center;
}
.text-blend {
    color: grey;
    mix-blend-mode: difference;
}

.nice-button {
    color: white;
    background: linear-gradient(var(--primary), var(--primary-2));

    border: 1px solid rgb(114, 255, 128);
    border-radius: 10px;
    padding: 10px;
}
.nice-button:hover {
    background: linear-gradient(var(--secondary), var(--secondary-2));
    border: 1px solid rgb(114, 184, 255);
}
.nice-button:active {
    background: linear-gradient(var(--secondary-2), var(--secondary));
    border: 1px solid rgb(114, 184, 255);
}
.nice-button:focus {
    outline: 3px solid var(--secondary);
}
.nice-button:disabled {
    color: black;
    background: linear-gradient(grey, lightgrey);
    border: 1px solid rgb(153, 153, 153);
}

.nice-form {
    display: flex;
    flex-direction: column;

    color: black;
    background-color: white;
    padding: 20px;
    outline: 4px solid #00000017;
    border-radius: 4px;
    margin-top: 4px;

    gap: 20px;
}
.nice-form-item {
    display: flex;
    flex-direction: column;
}
.nice-form-item label a {
    text-decoration: underline;
    color: var(--secondary-2);
}
.nice-form-item input {
    color: black;
    background-color: white;

    border: 3px solid rgb(187, 187, 187);
    border-radius: 4px;

    padding: 8px;
}
.nice-form-item input:focus {
    border: 3px solid var(--primary);
    outline: 0;
}

.gallery {
    display: flex;
    flex-direction: row;

    gap: 10px;
    padding: 10px;
}
.gallery-item {
    padding: 5px;
    background-color: var(--panel-background);

    max-width: 300px;
    max-height: 200px;
}
.gallery-item img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

iframe.page {
    border: 0;
}

/* KEYFRAMES */
@keyframes opacity-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes transform-slide-in-x {
    0% {
        transform: translateX(-100%);
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .sidebar {
        position: unset;
        height: auto;
        max-width: 100%;

        padding-bottom: 10px;
    }
    .sidebar-reserve {
        position: fixed;
    }
}