* {
    margin: 0;
    padding: 0;

    font-family: "Verdana";
    text-decoration: none;

    --primary: #00D400;
    --panel-background: rgba(0, 0, 0, 0.5);
    --page-background: rgba(0, 0, 0, 0.25);
}

body {
    height: 100vh;

    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;

    opacity: 0;

    animation-name: opacity-fade-in;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.main {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.sidebar-reserve {
    flex: 2;
}
.sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;
    height: 100%;
    min-width: 20%;
    max-width: 20%;

    padding-top: 20px;

    gap: 20px;

    background-color: var(--panel-background);
}
.content {
    flex: 8;

    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 2rem;
    flex-grow: 1;

    color: white;
    background-color: var(--page-background);
    padding: 40px;
}

.page-item {
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 0.5rem;

    color: white;
    background-color: var(--panel-background);
    padding: 5px;
}

.logo {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
.logo img {
    max-width: 3rem;
}
.slogan-item {
    color: white;

    font-size: 0.75rem;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}
.sidebar-menu-item {
    display: flex;
    flex-direction: row;

    padding: 10px;

    color: white;

    transition: background-color 0.25s;
}
.sidebar-menu-item.selected {
    background-color: var(--primary);
}
.sidebar-menu-item:hover {
    background-color: var(--primary);
}

.text-big {
    font-size: 5rem;
    font-weight: 600;
}
.text-medium {
    font-size: 3rem;
}
.text-center {
    text-align: center;
}
.text-blend {
    color: grey;
    mix-blend-mode: difference;
}

.gallery {
    display: flex;
    flex-direction: row;

    gap: 10px;
    padding: 10px;
}
.gallery-item {
    padding: 5px;
    background-color: var(--panel-background);
}
.gallery-item img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

/* KEYFRAMES */
@keyframes opacity-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }
}