* {
    padding: 0;
    margin: 0;

    font-family: "Arial";
    text-decoration: none;

    --primary: rgb(116, 193, 65);
    --primary-highlight: rgb(131, 215, 74);
}

body {
    height: 100vh;
}

#container {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

#header {
    flex-basis: 100px;
    display: flex;

    background-color: var(--primary);

    border-bottom: 1px solid var(--primary);
}

#logo {
    display: flex;

    align-items: center;
    justify-content: center;

    padding-left: 20px;

    color: white;
}
#logo img {
    max-height: 64px;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    align-items: stretch;
    justify-content: right;
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 20px;
    padding-right: 20px;

    gap: 10px;

    transition: background-color 0.25s, color 0.25s;

    color: white;
    background-color: var(--primary);
}
.nav-item:hover {
    color: white;
    background-color: var(--primary-highlight);
}
.nav-item.selected {
    color: white;
    background-color: var(--primary-highlight);
}

#content {
    flex-grow: 1;
}

#footer {
    display: flex;
    flex-basis: 50px;

    border-top: 1px solid var(--primary);

    justify-content: center;
    align-items: center;

    color: white;
    background-color: var(--primary);
}

@media screen and (max-width: 600px) {
    #header {
        flex-direction: column;
    }
    #nav-menu {
        flex-direction: column;
        align-items: stretch;
    }
    .nav-item {
        padding-top: 10px;
        padding-bottom: 10px;

        justify-content: left;
    }
}