* {
    padding: 0;
    margin: 0;

    font-family: "Arial";
    text-decoration: none;

    --primary: rgb(116, 193, 65);
    --primary-highlight: rgb(131, 215, 74);
    --secondary: rgb(95, 155, 56);
}

body {
    height: 100vh;

    transition: background-color 1s;
    background-color: var(--primary);
}

#container {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

#sidebar {
    display: flex;
    flex-direction: column;

    width: 0%;
    min-width: 0%;

    gap: 20px;

    background-color: var(--primary);

    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        width: 0%;
        min-width: 0%;
    }

    100% {
        width: 20%;
        min-width: 20%;
    }
}

#sidebar-menu {
    display: flex;
    flex-direction: column;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.sidebar-menu-item {
    display: flex;
    align-items: center;
    justify-content: left;

    padding: 10px;

    gap: 10px;

    transition: background-color 0.25s, color 0.25s;

    color: white;
    background-color: var(--primary);
}
.sidebar-menu-item:hover {
    color: white;
    background-color: var(--primary-highlight);
}
.sidebar-menu-item.selected {
    color: white;
    background-color: var(--primary-highlight);
}

#content {
    display: flex;
    flex-direction: row;

    flex-grow: 1;

    color: white;
    background-color: var(--primary-highlight);
}

#page {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-wrap: wrap;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    margin: 10px;

    gap: 10px;
}
.page-header {
    color: white;

    font-weight: 600;
    font-size: 1.5rem;
}
.page-item {
    display: flex;
    flex-direction: column;

    background-color: var(--primary);
    color: white;

    padding: 10px;

    border: 2px solid var(--primary-highlight);

    gap: 10px;
}
.page-item-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    gap: 5px;
}
.gallery-item {
    padding: 4px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    max-height: 256px;
}
.page-item-header {
    font-weight: 600;
    font-size: 1.25rem;

    border-bottom: 1px solid var(--primary-highlight);
}
.page-item-content {
    display: flex; 
    flex-direction: row; 
    align-items: start;

    font-weight: 300;
    font-size: 1rem;
}
.page-content-image {
    object-fit: scale-down;
    max-height: 256px;
    max-width: 256px;
}
#logo {
    display: flex;
    flex-direction: column;

    color: white;

    transition: filter 0.25s;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.logo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#logo img {
    max-height: 64px;
}
#logo:hover {
    filter: drop-shadow(0px 0px 10px white);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.healthy-form {
    display: flex;
    flex-direction: column;

    gap: 10px;
}
.healthy-form-item {
    display: flex;
    flex-direction: column;
}
.healthy-form-item input{
    border: 3px solid var(--primary-highlight);
    border-radius: 0px;

    background-color: white;
    outline: var(--primary-highlight);
    color: black;
    padding: 5px;
}
.healthy-form-item button{
    border: 1px solid var(--primary-highlight);
    border-radius: 4px;

    background-color: var(--primary-highlight);
    outline: var(--primary-highlight);
    color: white;
    padding: 5px;

    transition: border 0.25s;
}
.healthy-form-item button:hover{
    border-color: var(--secondary);
}

#footer {
    display: flex;
    flex-basis: 50px;

    border-top: 1px solid var(--primary);

    justify-content: center;
    align-items: center;

    color: white;
    background-color: var(--primary);
}
#footer-content {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 600px) {
    #content {
        flex-direction: column;
    }
    #sidebar {
        width: 100% !important;
    }
    .gallery-item {
        max-height: 128px;
    }
}