* {
    padding: 0;
    margin: 0;

    font-family: "Arial";
    text-decoration: none;

    --primary: rgb(116, 193, 65);
    --primary-highlight: rgb(131, 215, 74);
}

body {
    height: 100vh;
}

#container {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

#header {
    flex-basis: 100px;
    display: flex;

    background-color: var(--primary);

    border-bottom: 1px solid var(--primary);
}

#logo {
    display: flex;
    flex-direction: column;

    padding-left: 20px;

    color: white;

    transition: filter 0.25s;
}
.logo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
#logo img {
    max-height: 64px;
}
#logo:hover {
    filter: drop-shadow(0px 0px 10px white);
}

#nav-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;

    flex-wrap: wrap;

    align-items: stretch;
    justify-content: right;

    background-color: var(--primary);
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 0px;

    gap: 10px;

    transition: background-color 0.25s, color 0.25s;

    color: white;
    background-color: var(--primary);
}
.nav-item:hover {
    color: white;
    background-color: var(--primary-highlight);
}
.nav-item.selected {
    color: white;
    background-color: var(--primary-highlight);
}

#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#footer {
    display: flex;
    flex-basis: 50px;

    border-top: 1px solid var(--primary);

    justify-content: center;
    align-items: center;

    color: white;
    background-color: var(--primary);
}

@media screen and (max-width: 600px) {
    #content {
        flex-direction: column;
    }
    #nav-menu {
        flex-grow: 0;
    }
    #header {
        justify-content: center;
    }
}